.fab {
    all: unset;
    background-color: rgb(var(--md3-primary-container));
    width: 24px;
    height: 24px;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
}
.fab span {
    color: rgb(var(--md3-on-primary-container));
}
.fab.secondary {
    background-color: rgb(var(--md3-secondary-container));
}
.fab.secondary span {
    color: rgb(var(--md3-on-secondary-container));
}